DASHBOARD_PASSWORD_ENABLED=false
DASHBOARD_PASSWORD=
DASHBOARD_USERNAME=

VITE_AYNI_PROTOCOL_ADDRESS=
VITE_AYNI_NETWORK_NAME=LitVM Testnet
VITE_AYNI_DEBT_TOKEN_ADDRESS=

VITE_PUBLIC_RPC_URL=https://liteforge.rpc.caldera.xyz/http
VITE_PUBLIC_CHAIN_ID=4441
VITE_WZKLTC_CONTRACT_ADDRESS=0x60A84eBC3483fEFB251B76Aea5B8458026Ef4bea
VITE_WZKLTC_SOURCE_CHAIN_NAME=Liteforge
VITE_WZKLTC_DEST_CHAIN_NAME=Wrapped zkLTC
VITE_WZKLTC_CONTRACT_LABEL=Wrapped zkLTC
