VITE_AYNI_PROTOCOL_ADDRESS=
VITE_AYNI_RPC_URL=
VITE_AYNI_CHAIN_ID=
VITE_AYNI_NETWORK_NAME=LitVM Testnet
VITE_AYNI_COLLATERAL_TOKEN_ADDRESS=
VITE_AYNI_DEBT_TOKEN_ADDRESS=

VITE_WZKLTC_CONTRACT_ADDRESS=
VITE_WZKLTC_CHAIN_ID=
VITE_WZKLTC_RPC_URL=
VITE_ZKLTC_TOKEN_ADDRESS=
VITE_WZKLTC_SOURCE_CHAIN_NAME=Liteforge
VITE_WZKLTC_DEST_CHAIN_NAME=Wrapped zkLTC
VITE_WZKLTC_CONTRACT_LABEL=Wrapped zkLTC
