VITE_WZKLTC_CONTRACT_ADDRESS=
VITE_WZKLTC_CHAIN_ID=
VITE_WZKLTC_RPC_URL=
VITE_ZKLTC_TOKEN_ADDRESS=
VITE_WZKLTC_SOURCE_CHAIN_NAME=Liteforge
VITE_WZKLTC_DEST_CHAIN_NAME=Wrapped zkLTC
VITE_WZKLTC_CONTRACT_LABEL=Wrapped zkLTC
